workDir = "/local_scratch/malvarez/RepDefSig/"

params {
    time = 1
    memory_process1 = 30
    memory_process2 = 15
}

executor {
    name = 'slurm'
    queueSize = 1000
    submitRateLimit = '1 sec'
}

process {
    // rerun jobs failed due to memory up to 3 times
    errorStrategy = {task.exitStatus == 143 ? 'retry' : 'ignore'}
    maxRetries = 3
}

trace {
    enabled = true
    file = "$PWD/trace/trace.txt"
}
