executor {
    name = 'slurm'
    queueSize = 100
    submitRateLimit = '1 sec'
}

process {
    errorStrategy = {task.exitStatus == 143 ? 'retry' : 'ignore'}
    maxRetries = 3
    container = "$PWD/../0_singularity_container/container.sif"
}

singularity {
    enabled = true
    // automatically mount host paths in the executed container. It requires the user bind control feature enabled in your Singularity installation
    autoMounts = true
}

trace {
    enabled = true
    file = "$PWD/trace/trace.txt"
}
