executor {
    name = 'slurm'
    queueSize = 200
    submitRateLimit = '1 sec'
}

process {
    errorStrategy = {task.exitStatus in [143,137] ? 'retry' : 'ignore'}
    maxRetries = 4
    queue = 'normal_prio' // max 1 day
    container = "$PWD/../0_singularity_container/container.sif"
}

singularity {
    enabled = true
    // automatically mount host paths in the executed container. It requires the user bind control feature enabled in your Singularity installation
    autoMounts = true
    // still needs to mount fsupek_cancer3 to be able to read files thereof whose paths are passed to R
    runOptions = '-B /g/strcombio/fsupek_cancer3/malvarez/'
}

trace {
    enabled = true
    file = "$PWD/trace/trace.txt"
}
